a {
    color: #0070BB;
    text-decoration: underline;
}

a:active {
    color: red;
    text-decoration: underline;
}

a:visited {
    color: #0070BB;
    text-decoration: none
}

a:hover {
    color: #8F00FF;
    text-decoration: none
}

body {
    margin: 0;
}

.rotate {
    transform: rotate(270deg);
    transform-origin: top left;
    position: absolute;
    top: 100vh;
    height: 100vw;
    width: 100vh;
    text-align: right;
}
